@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Trirong:wght@100;300&display=swap");

#app {
  font-family: 'Trirong', 'Limelight', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: gray;
  width: 100%;
}

#inspire {
  font-family: 'Limelight', sans-serif;
}

.container.fill-height {
  align-items: normal;
}

a.side_bar_link{
  text-decoration: none;
}

.card__title--primary, .card__text {
  text-align: left;
  word-break: normal;
}

.card {
  height: 100% !important;
}

